.carrossel__titulo{
    color: var(--laranja);
    background-color: var(--branco);
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    padding: 18px 0 9px 0;
}

.swiper-slide img {
    width: 100%;
}

.swiper-button-prev, .swiper-button-next{
    display: none;
}

.swiper-pagination{
    position: initial;
    margin: 9px 0;
}

.card__descricao{
    display: flex;
    justify-content: space-between;    
    margin-bottom: 7px;
}

.card__botoes{
    display: flex;
    justify-content: space-between;
}

.botoes{
    display: flex;
}

.card{
    background: var(--branco);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin: 16px;
    padding: 16px;
}

.descricao__titulo{
    color: var(--laranja);
    font-weight: 700;
}

.descricao__titulo-livro{
    color: var(--azul);
    font-size: 18px;
    font-weight: 700;
    margin: 9px 0;
}

.descricao__texto{
    font-size: 14px;
}

.botoes__item{
    margin: 0 9px;
}

.botoes__ancora{
    background-color: var(--laranja);
    padding: 16px 36.5px;
    font-size: 16px;
    font-weight: 700;
    color: var(--branco);
    text-decoration: none;
}


@media screen and (min-width: 1024px){
    .carrossel__titulo{
        font-size: 26px;
    }

    .swiper-pagination{
        margin: 32px 0 48px 0;
    }

    .swiper{
        width: 60%;
    }

    .swiper-button-prev, .swiper-button-next{
        display: block;
        top: 60%;
    }

    .card{
        width: 40%;
        margin: 32px auto;
    }
}

@media screen and (min-width: 1728px){
    .carrossel__container{
        display: flex;
        margin: 0 20vw 48px 20vw;
        align-items: center;
    }

    .swiper-pagination{
        margin: 16px 0;
    }

    .swiper{
        width: 50%;
    }

    .descricao__titulo{
        font-size: 32px;
    }

    .descricao__texto{
        font-size: 16px;
    }

    .descricao{
        margin-right: 32px;
    }

    .card{
        width: 65%;
        margin-left: 48px;
    }
}