hr{
    margin: 0;
}

.rodape{
    background-color: var(--branco);
    padding: 16px;
}

.lista-rodape{
    display: none;
}


@media screen and (min-width: 1024px){
    .rodape{
        display: flex;
        justify-content: space-around;
    }

    .lista-rodape{
        display: block;
    }

    .lista-rodape__item{
       display: flex;
       align-items: center; 
       margin: 14px 0;
    }

    .lista-rodape__link{
        color: var(--cinza);
        text-decoration: none;
        margin-left: 14px;
    }

    .lista-rodape__titulo{
        color: var(--cinza-secundario);
        font-size: 14px;
        text-transform: uppercase;
    }

    .rodape__titulo{
        font-size: 24px;
    }

}

@media screen and (min-width: 1728px){
    .lista-rodape{
        border-left: 1px solid var(--cinza-secundario);
        padding-left: 16px;
    }

    .rodape{
        padding: 48px 0;
    }
}