
.topicos{
    background: var(--azul-degrade);
    text-align: center;
    padding: 16px 0;
}

.topicos__titulo{
    color: var(--branco);
    font-weight: 300;
    margin-bottom: 16px;
}

.topicos__lista{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.topicos__item{
    margin: 32px 8px;
}

.topicos__link{
    color: var(--branco);
    padding: 16px;
    background-color: var(--laranja);
    text-decoration: none;
    font-size: 14px;
    font-weight: 700;
}

@media screen and (min-width: 1024px){
    .topicos__titulo{
        font-size: 24px;
    }

    .topicos__link{
        font-size: 24px;
    }
}

@media screen and (min-width: 1728px){
    .topicos{
        padding: 48px 30vw;
    }
}